@tailwind base;
@tailwind components;
@tailwind utilities;

.welcome {
    background-image: url("/dessert-wines-what-to-know-FT-BLOG0122-3b0040474802467bb57ea6ee5e4acd92.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
}

.text {
    position: relative; 
    z-index: 1; 
    color: white; 
    text-align: center; 
    padding: 2rem; 
    max-width: 800px; 
    margin: 0 auto; 
    text-shadow: 2px 2px 4px rgba(86, 84, 84, 0.7); 
    background-color: black;
    border-radius: 40px;
    opacity: 75%;
}

body {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;
    font-family: "Raleway", sans-serif;
}

.wine {
    opacity: 92%;
}

@media only screen and (max-width: 600px) {
    .signup {
        border-radius: 60px;
        margin-top: 70px;
    }
    .show {
        padding: 3px;
    }
    .scroll {
        width: 50%;
    }
    .otherside {
        width: 50%;
    }
    .link {
        font-size: 12px;
    }
}